<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
     <ion-title > ULTIMA SEMANA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" padding>

 <ion-card>

    <ion-item color="danger">
      <ion-icon color="light" slot="start" name="planet-outline"></ion-icon>
      <ion-label> ultimos 8 dias </ion-label>

      <ion-datetime
                 
      display-format="YYYY-MMMM-DD"
      cancelText= "Cancelar"
      doneText="Aceptar"
      [ngModel]="FECHA.toISOString()"
      [min]="minDate" [max]="maxDate"
      [pickerOptions]="customPickerOptions"> 


</ion-datetime>

    </ion-item>     

    
  <br>
  <ion-card-title color="danger" align="center"> {{title}} </ion-card-title>
    <ion-card-content> <p> {{explanation}} </p> </ion-card-content>

    <div class="row">
      <div class="col">
      <div class="video">
         <img class="center" src="{{url}}" *ngIf="mimeType=='image'">
      <iframe [src]="url | safe"  *ngIf="mimeType=='video'" frameborder="0" allowfullscreen></iframe>
  </div>
  </div>
  </div>    
    
  </ion-card>  


</ion-content>

