<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
         <ion-title>IMAGEN DEL DIA</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="background"> 
 

  <ion-card class="background-card">
      
    <ion-item color="danger">
      <ion-icon color="light" slot="start" name="planet-outline"></ion-icon>
      <ion-label> DIA {{date}} </ion-label>
    </ion-item>
    
  <br>
    <ion-card-title color="danger" align="center"> {{title}} </ion-card-title>
    <ion-card-content> <p> {{explanation}} </p> </ion-card-content>

    <div class="row">
      <div class="col">
      <div class="video">
        <img class="center" src="{{url}}" *ngIf="mimeType=='image'">
      <iframe [src]="url | safe"  *ngIf="mimeType=='video'" frameborder="0" allowfullscreen></iframe>
  </div>
  </div>
  </div>    

  </ion-card>
    
</ion-content>
