<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
     <ion-title > GALERIA DE IMAGENES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">


  <ion-card>

    <ion-item color="danger">
      <ion-icon color="light" slot="start" name="planet-outline"></ion-icon>
      <ion-label> escoge tu fecha preferida </ion-label>

      <ion-datetime
                 
      display-format="YYYY-MMMM-DD"
      cancelText= "Cancelar"
      doneText="Aceptar"
      [ngModel]="FECHA.toISOString()"
      (ionChange)="cambioFecha($event)"
      [pickerOptions]="customPickerOptions"> 


</ion-datetime>

    </ion-item>
         
  <br>
  <ion-card-title color="danger" align="center"> {{title}} </ion-card-title>
    <ion-card-content> <p> {{explanation}} </p> </ion-card-content>

    <div class="video"> 
      <img class="center" src="{{url}}" *ngIf="mimeType=='image'">
      <iframe [src]="url | safe"  *ngIf="mimeType=='video'" frameborder="0" allowfullscreen></iframe>
    </div>

  </ion-card>
  
 

</ion-content>

