


<ion-content force-overscroll="false">
 <gl-background-video src="assets/background-video/video-U.mp4" poster="assets/background-video/img-universe.jpeg"></gl-background-video>
  <div class="page-centered-element">
    <div class="content">

      <ion-button shape="round" expand="block" fill="solid" size="large" color="light" class="disabled"> <h2> <strong>NASA</strong> </h2></ion-button>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <h3> <strong> <a routerLink="/api1" color="light"> HOY </a> &nbsp; | &nbsp;  <a routerLink="/api2"> FECHAS </a> &nbsp; | &nbsp; <a routerLink="/api3"> ULTIMA SEMANA </a> </strong></h3>
      
      <div class="buttons-container">
        <ion-button fill="clear " color="light" size="large">
          <ion-icon slot="icon-only" name="play-circle-outline" class="iconSize"></ion-icon>
        </ion-button>  
        
      </div>
    </div>
  </div>
</ion-content>